# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Environments and Virtual Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS-specific files
.DS_Store
.DS_Store?
Thumbs.db
ehthumbs.db

# Streamlit configuration and run logs
.streamlit/
*.log

# Python packaging/distribution
build/
dist/
*.egg-info/
